* {
  padding: 0;
  margin: 0;
}

.content {
  padding: 30px 20px;
}

.post {
  padding: 15px 0;
}

.post__likes {
  font-weight: bold;
}

.post__btn {
  width: 120px;
  height: 29px;
  border: 1px solid grey;
  border-radius: 7px;
  color: #333;
  background-color: transparent;
  outline: none;
}

.post__btn:hover {
  cursor: pointer;
}

.post__btn:active {
  background-color: #eee;
  color: #000;
}

.comments {
  padding: 15px 0;
}

.comments span {
  font-weight: bold;
s}

.comments__text {
  font-style: italic;
}

.likes {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}
